[Unit]
Description=A fun thing
After=pulseaudio.service

[Service]
User=pi
Group=pi
Type=simple
ExecStart=/home/pi/muzik/muzik.sh
Restart=always

[Install]
WantedBy=default.target

