[Unit]
Description=A fun thing weboklm specifically
After=pisseoklm.service

[Service]
User=pi
Group=pi
Type=simple
ExecStart=/home/pi/weboklm/weboklm.sh
Environment=PULSE_RUNTIME_PATH=/home/pi/pulse-runtime
Restart=always

[Install]
WantedBy=default.target
