[Unit]
Description=Pulseaudio Sound Service
After=avahi-daemon.service

[Service]
User=pi
Group=pi
Type=notify
Environment=PULSE_RUNTIME_PATH=/home/pi/pulse-runtime
ExecStart=/usr/bin/pulseaudio --verbose --daemonize=no
ExecStartPost=+/bin/systemctl start autobt
Restart=always
RestartSec=10
StartLimitIntervalSec=0
StartLimitBurst=0


[Install]
WantedBy=default.target

